<h1>Osztály kiválasztása</h1>
<div class="selector-container">
  <div class="new-card">
    <button matButton (click)="handleClassCreate()">Osztály hozzáadása</button>
  </div>
  @for (schoolClass of classes; track schoolClass.id) {
    <mat-card appearance="outlined"
              [class]="(this.classSelectorService.selectedClass$ | async)?.id === schoolClass.id ? 'selected' : ''">
      <mat-card-header>
        <mat-card-title>Osztály: {{ schoolClass.name }}</mat-card-title>
        <mat-card-subtitle>Végzés éve: {{ schoolClass.finishing_year }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ schoolClass.School?.name }}
      </mat-card-content>
      <mat-card-actions>
        @if ((this.classSelectorService.selectedClass$ | async)?.id === schoolClass.id) {
          <button matButton (click)="this.handleClassUnselection()">Kiválasztás törlése</button>
        } @else {
          <button matButton (click)="this.handleClassSelection(schoolClass)">Kiválasztás</button>
          <button matButton (click)="this.handleClassDelete(schoolClass)">Törlés</button>
        }
      </mat-card-actions>
    </mat-card>
  }
</div>
