<h1 mat-dialog-title>Új tanuló létrehozása</h1>
<form [formGroup]="form">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>OM azonosító</mat-label>
      <input matInput type="numeric" formControlName="id" autofocus>
      @if (this.form.get('id')?.errors && form.get('id')?.touched) {
        @if (this.form.get('id')?.errors?.['required']) {
          <mat-error>OM azonosító megadása kötelező</mat-error>
        } @else if (this.form.get('id')?.errors?.['pattern']) {
          <mat-error>Hibás formátum</mat-error>
        }
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tanuló neve</mat-label>
      <input matInput formControlName="name" autofocus>
      @if (this.form.get('name')?.errors && form.get('name')?.touched) {
        @if (this.form.get('name')?.errors?.['required']) {
          <mat-error>Tanuló nevének megadása kötelező</mat-error>
        } @else if (this.form.get('name')?.errors?.['pattern']) {
          <mat-error>Hibás formátum</mat-error>
        }
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Szakma / ágazat</mat-label>
      <mat-select formControlName="professionOrSectorId">
        <mat-optgroup label="Szakma">
          @for (profession of this.data.professions; track $index) {
            <mat-option [value]="profession.id+'p'">{{ profession.name }} - {{profession.number}}</mat-option>
          }
        </mat-optgroup>
        <mat-optgroup label="Ágazat">
          @for (sector of this.data.sectors; track $index) {
            <mat-option [value]="sector.id+'s'">{{ sector.name }} - {{sector.number}}</mat-option>
          }
        </mat-optgroup>
      </mat-select>
      @if (this.form.get('professionOrSectorId')?.errors && form.get('professionOrSectorId')?.touched) {
        @if (this.form.get('professionOrSectorId')?.errors?.['required']) {
          <mat-error>A szakma / ágazat megadása kötelező.</mat-error>
        }
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pálya kategóriája</mat-label>
      <mat-select formControlName="categoryId">
        @for (category of this.data.categories; track $index) {
          <mat-option [value]="category.id">{{ category.name }} </mat-option>
        }
      </mat-select>
      @if (this.form.get('categoryId')?.errors && form.get('categoryId')?.touched) {
        @if (this.form.get('categoryId')?.errors?.['required']) {
          <mat-error>A pálya kategóriájának megadása kötelező.</mat-error>
        }
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pálya leírása</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-hint>A pálya leírása maximum 255 karakter hosszú lehet.</mat-hint>
      @if (this.form.get('description')?.errors && form.get('description')?.touched) {
        @if (this.form.get('description')?.errors?.['required']) {
          <mat-error>A pálya nevének megadása kötelező.</mat-error>
        } @else if (this.form.get('description')?.errors?.['minlength'] || this.form.get('description')?.errors?.['maxlength']) {
          <mat-error>Hibás hossz.</mat-error>
        }
      }
    </mat-form-field>
    <mat-checkbox formControlName="isDayShift">Nappali munkarend</mat-checkbox>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button matButton (click)="handleClose()" cdkFocusInitial>Mégsem</button>
    <button matButton (click)="handleSave()">Létrehozás</button>
  </mat-dialog-actions>
</form>
