<mat-toolbar>
  <img alt="Logo" class="app-logo" [src]="this.themeService.darkModeSubject.value ? 'lightfingerprint.svg' : 'darkfingerprint.svg'"/>
  <span class="app-title" routerLink="/">Pályakövetés</span>
  @for (link of NAV_LINKS; track $index) {
    @if (!link.isProtected || (link.isProtected && this.authService.getIsAdmin())) {
      <button mat-button [routerLink]="link.path">
        {{ link.label }}
      </button>
    }
  }
  <span class="spacer"></span>
  <button mat-icon-button (click)="this.themeService.toggleDarkMode()">
    <mat-icon>{{ this.themeService.darkModeSubject.value ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <img class="avatar" src="profile.png" alt="Profilkép"/>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/dashboard/profile">
      Profil
    </button>
    <button mat-menu-item  (click)="this.handleLogout()">
      Kijelentkezés
    </button>
  </mat-menu>
</mat-toolbar>
