<mat-toolbar>
  <span class="app-title" routerLink="/">Pályakövetés</span>
  @for (link of NAV_LINKS; track $index) {
    @if (!link.isProtected || (link.isProtected && this.authService.getIsAdmin())) {
      <button mat-button [routerLink]="link.path">
        {{ link.label }}
      </button>
    }
  }
  <span class="spacer"></span>
  <span class="user-details">
    OM azonosítód: {{ this.authService.getId() }} ({{ this.authService.getIsAdmin() ? "Admin" : "Felhasználó" }})
  </span>
  <button mat-icon-button (click)="this.themeService.toggleDarkMode()">
    <mat-icon>{{ (this.themeService.darkMode$ | async) ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <img class="avatar" src="/assets/avatar.jpg"/>
  </button>
  <mat-menu #userMenu="matMenu">
    @for (button of dropdownButtons; track $index) {
      <button mat-button (click)="handleDropdown(button)">
        {{ button }}
      </button>
    }
  </mat-menu>
</mat-toolbar>
