.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  span {
    color: var(--mat-sys-primary)
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
