footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--mat-sys-on-primary);
  color: var(--mat-sys-primary);
  text-align: center;
  line-height: 1.5rem;
  padding: 5px;

  span {
    display: block;
  }
}
