@use '@angular/material' as mat;
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-form-field.small {
  --mat-form-field-container-height: 32px;
  --mat-form-field-container-vertical-padding: 4px;
}
.mat-mdc-dialog-container .mat-mdc-dialog-title+.mat-mdc-dialog-content {
  padding-top: 10px !important;
}
