<h1 mat-dialog-title>Felhasználó Módosítása</h1>
<form [formGroup]="editForm">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>OM azonosító</mat-label>
      <input matInput type="numeric" formControlName="id" autofocus>
      @if (this.editForm.get('id')?.errors && editForm.get('id')?.touched) {
        @if (this.editForm.get('id')?.errors?.['required']) {
          <mat-error>OM azonosító megadása kötelező</mat-error>
        } @else if (this.editForm.get('id')?.errors?.['pattern']) {
          <mat-error>Hibás formátum</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Jelszó</mat-label>
      <input matInput type="password" formControlName="password">
      @if (this.editForm.get('password')?.errors && editForm.get('password')?.touched) {
        @if (this.editForm.get('password')?.errors?.['required']) {
          <mat-error>Jelszó megadása kötelező</mat-error>
        } @else if (this.editForm.get('password')?.errors?.['pattern']) {
          <mat-error>Hibás formátum</mat-error>
        }
      }
    </mat-form-field>

    <mat-slide-toggle  formControlName="isAdmin">
      {{ this.editForm.value.isAdmin ? 'Admin' : 'Felhasználó' }}
    </mat-slide-toggle >
  </mat-dialog-content>
  <mat-dialog-actions>
    <button matButton (click)="handleClose()" cdkFocusInitial>Mégsem</button>
    <button matButton (click)="handleSave()">Módosítás</button>
  </mat-dialog-actions>
</form>
